### IntelliJ IDEA ###

out/
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/
/shelf/
/workspace.xml
/vcs.xml
/modules.xml
misc.xml
src/image_route.java
images

image_proseccing.iml
image-processing.iml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store